/* #00B4D8 #4682B4 */
/* line 5, static/scss/landing.scss */
body {
  background-color: #F0F8FF;
  color: #1E2330; }

/* line 13, static/scss/landing.scss */
.nav {
  position: relative;
  top: 50px;
  left: 2.5%;
  height: 90px;
  width: 95%;
  background: #F0F8FF;
  border-radius: 100px;
  box-shadow: 5px 5px 10px #ccd3d9, -5px -5px 10px #ffffff; }
  /* line 30, static/scss/landing.scss */
  .nav .brand {
    position: relative;
    left: 10px;
    top: 5px;
    height: 60px;
    width: 350px; }
    /* line 40, static/scss/landing.scss */
    .nav .brand .logo {
      position: relative;
      left: 5px;
      width: 60px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left; }
      /* line 54, static/scss/landing.scss */
      .nav .brand .logo #logoSVG {
        width: 600px;
        height: 600px;
        fill: none; }
        /* line 61, static/scss/landing.scss */
        .nav .brand .logo #logoSVG path {
          stroke: #1E2330; }
    /* line 71, static/scss/landing.scss */
    .nav .brand .name {
      position: relative;
      right: 30px;
      width: 250px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      font-size: 42px;
      font-weight: bold; }
  /* line 92, static/scss/landing.scss */
  .nav .contact {
    position: absolute;
    right: 20px;
    top: 0; }
    /* line 98, static/scss/landing.scss */
    .nav .contact div {
      position: relative;
      top: 10px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px 5px 10px;
      border-radius: 100px;
      box-shadow: 3px 3px 6px #ccd3d9, -3px -3px 6px #ffffff;
      cursor: pointer; }
    /* line 121, static/scss/landing.scss */
    .nav .contact .email {
      width: 260px;
      float: right; }
      /* line 127, static/scss/landing.scss */
      .nav .contact .email #mailSVG {
        width: 60px;
        height: 60px; }
        /* line 132, static/scss/landing.scss */
        .nav .contact .email #mailSVG polyline, .nav .contact .email #mailSVG rect {
          stroke: blue; }
      /* line 140, static/scss/landing.scss */
      .nav .contact .email #emailAddress {
        font-size: 23px; }
    /* line 148, static/scss/landing.scss */
    .nav .contact .phone {
      width: 250px;
      margin-left: 30px;
      float: right; }
      /* line 157, static/scss/landing.scss */
      .nav .contact .phone #phoneSVG {
        width: 55px;
        height: 55px; }
        /* line 162, static/scss/landing.scss */
        .nav .contact .phone #phoneSVG path {
          stroke: green; }
      /* line 170, static/scss/landing.scss */
      .nav .contact .phone #phoneNumber {
        position: relative;
        top: -2px;
        font-size: 23px; }

/* line 185, static/scss/landing.scss */
.content {
  position: relative;
  top: 150px;
  left: 50px;
  width: calc(100% - 100px); }
  /* line 193, static/scss/landing.scss */
  .content .text {
    position: relative;
    top: 30px;
    left: 50px;
    width: 50%;
    float: left; }
    /* line 204, static/scss/landing.scss */
    .content .text h1 {
      font-size: 80px; }
    /* line 210, static/scss/landing.scss */
    .content .text h2 {
      font-size: 60px;
      font-weight: normal; }
    /* line 217, static/scss/landing.scss */
    .content .text button {
      position: relative;
      height: 70px;
      width: 450px;
      background: transparent;
      border: none;
      border-radius: 100px;
      box-shadow: 5px 5px 10px #ccd3d9, -5px -5px 10px #ffffff;
      font-size: 25px;
      cursor: pointer; }
  /* line 241, static/scss/landing.scss */
  .content .illustration {
    position: relative;
    bottom: 50px;
    width: 50%;
    float: right; }

/* line 254, static/scss/landing.scss */
.footer {
  position: relative;
  top: 380px;
  left: 2.5%;
  width: 95%; }
  /* line 263, static/scss/landing.scss */
  .footer .copyright {
    float: left; }
  /* line 269, static/scss/landing.scss */
  .footer .links {
    float: right; }
