/* line 1, static/scss/qna.scss */
.question {
  cursor: pointer;
  font-weight: bold; }

/* line 6, static/scss/qna.scss */
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; }

/* line 12, static/scss/qna.scss */
.question:hover + .answer,
.answer:hover {
  max-height: 500px;
  /* Adjust the value to fit your content */
  transition: max-height 0.3s ease-in; }
