/* line 3, static/scss/qna.scss */
.qna {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 12, static/scss/qna.scss */
  .qna .question-list {
    list-style-type: none; }
    /* line 22, static/scss/qna.scss */
    .qna .question-list li div h1 {
      font-size: 30px; }
