{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ДМС Всем</title>

        <meta name="description" content="Добровольное Медицинское (ДМС) для корпораций и юридических лиц. Быстро и бесплатно подберем вам подходящий полис.">
        <meta name="keywords" content="дмс, полис дмс, дмс для физических лиц, дмс страхование, дмс купить, личное дмс, добровольное медицинское страхование,  дмс страхование">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif" />

        {% compress css %}
        
            <link rel="stylesheet" href="{% static 'scss/landing.scss' %}" type="text/x-scss">
        
        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>

    </head>
    <body>

        <div class="cta-popup">

            <div class="wrapper">

                <div id="closePopup">×</div>

                <h1>Бесплатная консультация</h1>

                <div class="contact-info">

                    <div class="phone">

                        <svg id="phoneSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                            
                            <title>Телефон ДМС Всем</title>
    
                            <desc>Зеленая иконка телефона</desc>
    
                            <path d="M14.5 6.5C15.2372 6.64382 15.9689 6.96892 16.5 7.5C17.0311 8.03108 17.3562 8.76284 17.5 9.5M15 3C16.5315 3.17014 17.9097 3.91107 19 5C20.0903 6.08893 20.8279 7.46869 21 9M20.9995 16.4767V19.1864C21.0037 20.2223 20.0723 21.0873 19.0265 20.9929C10.0001 21 3.00006 13.935 3.00713 4.96919C2.91294 3.92895 3.77364 3.00106 4.80817 3.00009H7.52331C7.96253 2.99577 8.38835 3.151 8.72138 3.43684C9.66819 4.24949 10.2772 7.00777 10.0429 8.10428C9.85994 8.96036 8.99696 9.55929 8.41026 10.1448C9.69864 12.4062 11.5747 14.2785 13.8405 15.5644C14.4272 14.9788 15.0274 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.858 15.6021 21.0105 16.0337 20.9995 16.4767Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        
                        </svg>
    
                        <span id="phoneNumber">+7-916-635-70-25</span>
    
                    </div>
    
                </a>
    
                </div>

            </div>

        </div>

        <div class="nav">

            <a href="/" style="cursor: default; text-decoration: none; color: inherit;">

                <div class="brand">

                    <div class="logo">
    
                        <div class="wrapper">

                            {% include 'svg/logo.svg' %}
                            
                        </div>
    
                    </div>
    
                    <div id="name">
    
                        ДМС Всем
    
                    </div>
    
                </div>

            </a>

            <div class="contact">

                <a href="tel:+79166357025" style="text-decoration: none; color: inherit;">

                    <div class="phone">

                        <svg id="phoneSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                            
                            <title>Телефон ДМС Всем</title>

                            <desc>Зеленая иконка телефона</desc>

                            <path d="M14.5 6.5C15.2372 6.64382 15.9689 6.96892 16.5 7.5C17.0311 8.03108 17.3562 8.76284 17.5 9.5M15 3C16.5315 3.17014 17.9097 3.91107 19 5C20.0903 6.08893 20.8279 7.46869 21 9M20.9995 16.4767V19.1864C21.0037 20.2223 20.0723 21.0873 19.0265 20.9929C10.0001 21 3.00006 13.935 3.00713 4.96919C2.91294 3.92895 3.77364 3.00106 4.80817 3.00009H7.52331C7.96253 2.99577 8.38835 3.151 8.72138 3.43684C9.66819 4.24949 10.2772 7.00777 10.0429 8.10428C9.85994 8.96036 8.99696 9.55929 8.41026 10.1448C9.69864 12.4062 11.5747 14.2785 13.8405 15.5644C14.4272 14.9788 15.0274 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.858 15.6021 21.0105 16.0337 20.9995 16.4767Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        
                        </svg>

                        <span id="phoneNumber">+7-916-635-70-25</span>

                    </div>

                </a>

                <a href="mailto:info@dmsvsem.ru" style="text-decoration: none; color: inherit;">

                    <div class="email">

                        <svg id="mailSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            

                            <title>Электронная почта ДМС Всем</title>

                            <desc>Синяя иконка электронной</desc>

                            <g>
                            
                            <polyline fill="none" points="4 8.2 12 14.1 20 8.2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            
                            <rect fill="none" height="14" rx="2" ry="2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="6.5"/>
                            
                            </g>
                            
                        </svg>

                        <span id="emailAddress">info@dmsvsem.ru</span>

                    </div>

                </a>

            </div>

        </div>

        <div class="content">

            <div class="text">

                <h1><a href="https://ru.wikipedia.org/wiki/Медицинское_страхование" target="_blank" style="text-decoration: none; color: inherit;">ДМС</a> для всех</h1>

                <h2>Получите полис <a href="https://journal.tinkoff.ru/dms/" target="_blank" style="text-decoration: none; color: inherit;">ДМС</a> прямо сейчас!</h2>

            <button id="ctaBtn">Получить консультацию</button>
            
            </div>

            <div class="illustration">

                {% include 'svg/doctors.svg' %}

            </div>

        </div>

        <div class="footer">

            <div class="copyright">

                <h3>©ДМС Всем</h3>

            </div>

        </div>
        
    </body>

    <style>

        body {

        font-family: "PT Serif";

        }

        input, button {

            font-family: "PT Serif";

        }

    </style>

    <!-- Popup -->
    <script>

        $('#ctaBtn').click(function() {

            $('.cta-popup').show();

            $('.cta-popup').animate({

                opacity: 1,

            }, 250);

        });

        $('#closePopup').click(function() {

            $(this).addClass('in');

            setTimeout(function() {

                $('#closePopup').removeClass('in');

            }, 250);

            $('.cta-popup').animate({

                opacity: 0,

            }, 250);

            setTimeout(function() {

                $('.cta-popup').hide();

            }, 250);

        });

    </script>

    <!-- btns pop -->
    <script>

        $('#ctaBtn, .email, .phone, .wrapper').click(function() {

            btn = $(this);
            btn.addClass('in');

            setTimeout(function() {

                btn.removeClass('in');

            }, 250);

        });

    </script>

</html>