/* #00B4D8 #4682B4 */

$text-color: #1E2330;
$theme-color: #F0F8FF;

$nav-height: 110px;

body {

    background-color: #F0F8FF;

    color: $text-color;

}


::-webkit-scrollbar {

    width: 10px;

}


::-webkit-scrollbar-track{

    border-radius: 10px;

}

::-webkit-scrollbar-thumb {


    background: $text-color;
    border-radius: 50px;

}

.cta-popup {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    display: none;

    background: rgba(0, 0, 0, 0.8);

    z-index: 10;

    .wrapper {

        position: absolute;
        left: 50%;
        top: 50%;

        width: 380px;
        height: 240px;

        border-radius: 20px;
    
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        background: $theme-color;

        #closePopup {

            position: absolute;
            right: 20px;
            top: 20px;

            width: 60px;
            height: 60px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 100px;

            box-shadow:  5px 5px 10px #ccd3d9,
                -5px -5px 10px #ffffff;

            font-size: 50px;
            font-weight: bold;

            cursor: pointer;

            z-index: 3;

        }

        #closePopup.in {

            box-shadow: inset 5px 5px 10px #ccd3d9,
                inset -5px -5px 10px #ffffff;

        }

        h1 {

            position: relative;
            top: 20px;
            left: 20px;

        }

        .contact-info {

            position: relative;
            top: 30px;

            .phone {

                position: relative;
                left: 10px;

                svg {

                    width: 70px;
                    height: 70px;

                    float: left;

                    path {

                        stroke: green;

                    }

                }

                span {

                    position: relative;
                    top: 20px;

                    font-size: 33px;

                }

            }

        }

    }

}

.nav {

    position: relative;

    top: 50px;
    left: 2.5%;

    height: $nav-height;
    width: 95%;

    background: #F0F8FF;

    border-radius: 100px;

    box-shadow:  5px 5px 10px #ccd3d9,
        -5px -5px 10px #ffffff;

    .brand {

        position: relative;

        left: 10px;
        top: 10px;

        width: 350px;

        height: $nav-height;

        .logo {

            position: relative;
            left: 5px;

            height: $nav-height;

            display: flex;
            align-items: center;
            justify-content: center;

            float: left;

            .wrapper {

                position: relative;
                bottom: 5px;
                right: 4px;

                width: 75px;
                height: 75px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 100px;


                cursor: pointer;

                #logoSVG {

                    width: 60px;
                    height: 60px;

                    fill: none;
    
                    path {
    
                        stroke: $text-color;
    
                    }
    
                }

            }

        }

        .wrapper.in {

            box-shadow: inset 5px 5px 6px #ccd3d9,
                inset -5px -5px 6px #ffffff;
    
        }

        .name {

            position: relative;
            top: 3px;
            right: 15px;

            width: 250px;
            height: 90px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            float: right;
            
            font-size: 44px;
            font-weight: bold;

            cursor: pointer;

        }

    }

    .contact {

        position: absolute;
        right: 20px;
        top: 10px;

        div {

            position: relative;
            top: 10px;

            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 5px 10px 5px 10px;

            border-radius: 100px;

            box-shadow:  3px 3px 6px #ccd3d9,
                -3px -3px 6px #ffffff; 
                
                
            cursor: pointer;

        }

        div.in {

            box-shadow: inset 5px 5px 6px #ccd3d9,
                inset -5px -5px 6px #ffffff;

        }

        .email {

            width: 270px;

            float: right;      

            #mailSVG {

                position: relative;
                bottom: 2px;

                width: 70px;
                height: 70px;

                polyline, rect {

                    stroke: blue;

                }

            }

            #emailAddress {

                position: relative;
                top: 1px;

                font-size: 23px;

            }

        }

        .phone {

            width: 250px;

            margin-left: 30px;

            float: right;


            #phoneSVG {

                width: 55px;
                height: 55px;

                path {

                    stroke: green;

                }

            }

            #phoneNumber {

                position: relative;
                top: 1px;

                font-size: 23px;

            }

        }

    }

}

.content {

    position: relative;
    top: 150px;
    left: 50px;

    width: calc(100% - 100px);

    .text {

        position: relative;

        top: 30px;
        left: 50px;

        width: 50%;

        float: left;

        h1 {

            font-size: 80px;
    
        }
    
        h2 {
    
            font-size: 60px;
            font-weight: normal;
    
        }
    
        #ctaBtn {
    
            position: relative;
    
            height: 70px;
            width: 450px;
    
            background: transparent;
    
            border: none;
            border-radius: 100px;
    
            box-shadow:  5px 5px 6px #ccd3d9,
            -5px -5px 6px #ffffff;
            
            font-size: 25px;
    
            cursor: pointer;
    
        }

        #ctaBtn.in {

            box-shadow: inset 5px 5px 6px #ccd3d9,
                inset -5px -5px 6px #ffffff;

        }

    }

    .illustration {

        position: relative;
        bottom: 50px;

        width: 50%;

        float: right;

    }

}

.footer {

    position: relative;
    top: 350px;

    left: 2.5%;

    width: 95%;

    .copyright {

        position: relative;
        bottom: 20px;
        left: 50px;
      
        float: left;

        font-size: 23px;

    }

    .links {

        position: relative;
        left: -50px;
        top: 3px;

        float: right;

        a {

            position: relative;

            margin-right: 20px;

            font-size: 22px;

            text-decoration: none;
            color: inherit;

        }

        /* Link hover effect */

        a:before, a:after, a > span:before, a > span:after {

            content: '';
            position: absolute;
            transition: transform .5s ease;

        }

        a, a > span {

            position: relative;
            color: $text-color;
            text-decoration: none;
            line-height: 24px;
        
        }
          
        a {

            display: inline-flex;
            padding-top: 10px;
            padding-bottom: 5px;
            overflow: hidden;

        }
          
        a:before {

            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            border-radius: 100px;
            background: #492059;
            transform: translateX(-100%);

        }
          
        a:hover:before {

            transform: translateX(0);

        }

    }

}

@media only screen and (max-width: 1600px) {
    
    .footer {

        .links {

            left: 100px;

        }

    }

}

@media only screen and (max-width: 1350px) {

    .footer {

        .links {

            left: 200px;

        }

    }

}